<div class="container m-5 p-5">
    <div class="card">
        <div class="card-header">Create User</div>
        <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                    <label for="name" class="col-2 col-form-label">Name</label>
                    <div class="col">
                        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Full Name Eg: John Doe"/>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="job" class="col-2 col-form-label">Job</label>
                    <div class="col">
                        <input type="text" class="form-control" id="job" formControlName="job" placeholder="Enter Job Title Eg: Manager"/>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col-12 text-center my-3">
                        <button type="submit" class="btn btn-primary col-4">Submit</button>
                    </div>
                </div>
            </form>

            <!-- View Data to be Submitted -->
            <div class="row">
                <pre>{{ userForm.value | json }}</pre>
            </div>

            <div class="row">
                {{ msg }}
            </div>
        </div>
    </div>
</div>